$color-base: #212832;
$color-accent: #FFC107;
$color-secondary:  #8CAAB9;

$color-red: #D32F2F;
$color-white: #FFFFFF;
$color-black: #000000;

$color-success: #388E3C;
$color-error: #F44336;

$color-input-bg: #455A64;
