@mixin setRows($rows) {
    grid-template-rows: repeat($rows, 1fr);
}
.grid-rows-1 { @include setRows(1) }
.grid-rows-2 { @include setRows(2) }
.grid-rows-3 { @include setRows(3) }
.grid-rows-4 { @include setRows(4) }
.grid-rows-5 { @include setRows(5) }

.draw {
    &_wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
    }

    &_pairs {
        display: flex;
        flex-direction: column;
        height: 100%;
        // gap: 30px;
    }

    &_rounds {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        background-color: white;

        &_cell {
            display: flex;
            flex-direction: column;
            flex: 1;

            &_space {
                flex: 0.25;
                background-color: green;
            }

            &_line {
                flex: 0.25;
                background-color: yellow;
            }
        }
    }
}
